<div class="header">
  <h1><%= t(:'sales.list') %> </h1>
  
  <!-- FILTER -->
  <div class="form-fields">
    <div class="filter-form"> 
      <%= form_for :search, url: admin_sales_path, method: "GET", html: { id: "admin_date_search_form", class: "search" } do |f| %>
        <span class="input-prepend input-append">
        	<span>
        		<span class="add-on"><%= t :'sales.search.date.start' %></span>
          	<%= f.text_field :date_start, :class => "admin-date-search-field", :id => "date_start", :readonly => "true" %>
          </span>
          <span>
          	<span class="add-on date-end"><%= t :'sales.search.date.end' %></span>
          	<%= f.text_field :date_end,   :class => "admin-date-search-field", :id => "date_end", :readonly => "true" %>
          </span>
          <%= f.submit t(:'search.button_text'), :name => nil, :id => "btn_search", :class => 'btn btn-info' %>
        </span>
      <% end %>
    </div>

    <div class="clear"></div>
  </div>
  <!-- END FILTER -->
  <div class="clear"></div>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <th> <%= Sale.human_attribute_name(:id) %> </th>
    <th> <%= Sale.human_attribute_name(:created_at) %> </th>
    <th> <%= t(:'sales.client') %> </th>
    <th> <%= Sale.human_attribute_name(:total_price) %> </th>
    <th colspan=3> </th>
  </thead>

  <tfoot>
    <tr>
      <td colspan="3">
        <label class="sales-label-bold"> <%= t(:'sales.total_value') %> </label>
      </td>
      <td><%= number_to_currency(@sales.period_total_price)%></td>
      <td></td>
    </tr>
  </tfoot>

  <tbody  class="sortable" id="sales">
    <%= render :partial => "admin/sales/index.html" %>
  </tbody>
</table>
<%= paginate @sales %>
