<h1> <%= t(:'purchases.mine') %> </h1>

<div class="all-purchases">
  <% @sales.each do |sale| %>
    <div class="single-purchase">
      <div class="purchase-header">
        <h3> <%= "Compra #{sale_number sale}" %> </h3>
        <h5> <%= l(sale.created_at, format: :custom) %> </h5>
        <div class="clear"> </div>
      </div>
      
      <div class="purchase-items">
        <%= render :partial => "sales", locals: { sale: sale } %>
      </div>

      <div class="purchase-footer">
        <div class="label-details" data-info-close="<%=t('purchase.hide_details')%>" data-info-open="<%=t('purchase.show_details')%>" >
          <%= t('purchase.show_details') %>
        </div>
        <p>
          <%= t(:'purchases.total') %>:
          <span class="total-value">
            <%= number_to_currency(total_value sale) %>
          </span> 
        </p>
        <div class="clear"> </div>
      </div>
    </div>
  <% end %>
</div>