<div class="all-products products">
<!-- PRODUCTS -->
  <% @products.each do |product| %>
    <div class="span2"> 
      <div class="image">
        <%= image_tag product.image_url(:thumb)  if product.image? %>
      </div>

      <div class="clearfix info">
        <span class="desc"> <%= link_to product.description, product_path(product) %> </span>
      </div>
        
      <div class="clearfix">
        <div class="category">
          <%= product.category.name %>
        </div>

        <div class="price">
          <%= number_to_currency(product.price) %>
        </div>
      </div>

      <div class="btn-cart">
        <%= link_to ('<i class="icon-shopping-cart"></i> ' + t(:"cart.add")).html_safe, 
          add_to_cart_product_path(product), 
            :class  => 'btn-add-to-cart btn btn-info', 
            :data   => {id: product.id} %>
      </div>
    </div>
  <% end %>
<!-- END OF PRODUCTS -->

  <div class="clear"></div>

<!-- PAGINATOR --> 
  <div id="paginator">
    <%= paginate @products %>
  </div>
<!-- END OF PAGINATOR -->
</div>