<table class="table table-bordered">
  <thead>
    <tr>
      <th> <%= Product.human_attribute_name(:code) %> </th>
      <th> <%= Product.human_attribute_name(:description) %> </th>
      <th> <%= Product.human_attribute_name(:category) %> </th>
      <th> <%= Product.human_attribute_name(:price) %> </th>
      <th> <%= Product.human_attribute_name(:image) %> </th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td> <%= @product.code %> </td>
      <td> <%= @product.description %> </td>
      <td> <%= number_to_currency(@product.price) %> </td>
      <td> <%= @product.category.name %> </td>
	    <td> <%= image_tag @product.image_url(:thumb) if @product.image? %> </td>
	  </tr>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to t(:back), root_path, class: 'btn' %>
</div>