<ul class="nav">
    <li>
      <%= link_to t(:'menu.home'), root_path %>
    </li>
  <% if user_signed_in? %>
    <li>
      <%= link_to(t(:'menu.logout'), destroy_user_session_path , :method=>'delete') %>        
    </li>
  <% else %>
    <li>
      <%= link_to(t(:'menu.login'), new_user_session_path )  %>  
    </li>
    <li>
      <%= link_to(t(:'menu.sign_up'), new_user_registration_path) unless user_signed_in?  %>
    </li>
  <% end %>
    <li>
      <%= link_to('Admin Panel', admin_root_path) if current_user.try(:admin?) %> <!-- TODO translate -->
    </li>
    <li>
      <%= link_to(('<i class="icon-shopping-cart"></i> ' + t(:'purchases.mine')).html_safe, user_sales_path) if user_signed_in? %>
    </li>
</ul>

<div class="username">
  <%= t('user.welcome') + ", " + current_user.name + "!" if user_signed_in? %>
</div>
